<div id="games" class="first-row-dashboard col-4 bg-white max-width-30 rounded-4">
  <div class="m-2">

    <div class="row pt-2">
      <h3 class="text-center p-2">Upcoming Matches</h3>
      <hr>
    </div>

    <div class="games row pt-2">
    <% @events.each do |event| %>
      <div class="col-5 py-4">
        <div class="row ps-4">
          <div class="d-flex mb-2">
            <i class="fa-regular fa-calendar" style="color: #92bfca;"></i>
            <h6 class="ps-1"><%= event.start_date.to_date %></h6>
          </div>
          <div class="d-flex mb-2">
            <i class="fa-solid fa-location-dot" style="color: #92bfca;"></i>
            <h6 class="ps-1"><%= event.location %></h6>
          </div>
          <div class="d-flex">
            <%# <i class="fa-solid fa-location-dot" style="color: #92bfca;"></i> %>
            <% if event.location == "Anfield" %>
              <div class="home px-2 py-1">
                <h6 class="m-0">Home</h6>
              </div>
            <% else %>
              <div class="away px-2 py-1">
                <h6 class="m-0">Away</h6>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-2 p-2">
        <div class="bg-light rounded-4">
          <div class="row">
            <div class="team-crest text-center pb-2">
              <img src="https://resources.premierleague.com/premierleague/badges/rb/t14.svg">
            </div>
            <h6 class="text-center">vs</h6>
            <div class="team-crest text-center">
              <% if event.opposition != nil %>
                <%= image_tag Event::OPPONENTS[event.opposition]%>
              <% end %>
            </div>
        </div>
        </div>
      </div>

      <div class="col-5 py-4">
        <div class="row pe-4">
          <h6 class="text-center">Liverpool</h6>
        </div>
        <div class="row pe-4">
            <h6 class="text-center m-3"> </h6>
        </div>
        <div class="row pe-4">
          <h6 class="text-center"><%= event.opposition %></h6>
        </div>
      </div>
      <% end %>
    </div>

    <%# <div class="row align-items-center pt-2">
      <div class="col-5">
        <div class="row ps-4">
          <div class="d-flex">
            <i class="fa-regular fa-calendar" style="color: #92bfca;"></i>
            <h6 class="ps-1">00-00-00</h6>
          </div>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #92bfca;"></i>
            <h6 class="ps-1">Stadium</h6>
          </div>
          <h6>Referee Name</h6>
        </div>
      </div>

      <div class="col-2">
        <div class="bg-light rounded-4">
          <div class="row">
            <h6 class="text-center p-2">PSG</h6>
            <h6 class="text-center">VS</h6>
            <h6 class="text-center p-2">FCBM</h6>
          </div>
        </div>
      </div>

      <div class="col-5">
        <div class="row pe-4">
          <h6 class="text-center">Team Name</h6>
        </div>
          <div class="row pe-4">
          <h6 class="text-center">Team Name</h6>
        </div>
      </div>
    </div> %>


  </div>
</div>
