<div class="col-6">
  <div class="bg-white rounded-4 mt-5">
    <div class="row">
      <div class="m-2">
        <h3 class="text-center mb-4 mt-4">Premier League Season Form</h3>
        <hr class="m-3">
      </div>
    </div>
    <div class="m-3">
      <%= line_chart @cumulative_score_data,
        height: "400px",
        legend: "bottom",
        id: "cumulative-score-chart",
        title: "Points Won" %>
    </div>
  </div>
</div>

<div class="col-6">
  <div class="bg-white rounded-4 mt-5">
    <div class="row">
      <div class="m-2">
        <h3 class="text-center mb-4 mt-4">Player Availability</h3>
        <hr class="m-3">
      </div>
    </div>
    <div class="m-3">
      <%= pie_chart @health_chart_data,
              height: "400px",
              legend: "bottom",
              id: "health-chart",
              percentage: true, title: "Health Distribution",
              colors: ["#fbd082", "#a5ff9c", "#ff5569e2", "#FF5733"] %>
              <%# orange green red %>
    </div>
  </div>
</div>
