    <div id="notifications" class="first-row-dashboard col-4 bg-white max-width-30 rounded-4">
      <div class="m-2">
        <div class="row pt-2">
          <h3 class="text-center p-2">Notifications</h3>
          <hr>
        </div>

        <div class="row pt-3 align-middle">
          <div class="col-2">
            <i class="sidebar-button fa-solid fa-comments pt-2" style="color: #dddddd;"></i>
          </div>
          <div class="col-5">
            <h5>Neymar</h5>
            <h6>Coach</h6>
          </div>
          <div class="col-5 text-end">
            <h6 class="pt-1">Now</h6>
          </div>
        </div>

        <div class="row pt-3">
          <div class="col-2">
            <i class="sidebar-button fa-solid fa-comments pt-2" style="color: #dddddd;"></i>
          </div>
          <div class="col-5">
            <h5>Mesut</h5>
            <h6>Physiotherapist</h6>
          </div>
          <div class="col-5 text-end">
            <h6>16:45</h6>
          </div>
        </div>




        <div class="row pt-3">
          <div class="col-2">
            <i class="sidebar-button fa-solid fa-bars-progress pt-2" style="color: #dddddd;"></i>
          </div>
          <div class="col-5">
            <h5>Management</h5>
            <h6 class="text-nowrap">New Update</h6>
          </div>
          <div class="col-5 text-end">
            <h6 class="pt-1">16h43</h6>
          </div>
        </div>



         <div class="row pt-3">
          <div class="col-2">
            <i class="sidebar-button fa-solid fa-comments pt-2" style="color: #dddddd;"></i>
          </div>
          <div class="col-5">
            <h5>Eden</h5>
            <h6 class="text-nowrap">Right Midfielder</h6>
          </div>
          <div class="col-5 text-end">
            <h6 class="pt-1">16h42</h6>
          </div>
        </div>

      </div>
    </div>
