 <div id="today" class="first-row-dashboard col-4 bg-white max-width-30 rounded-4">
  <div class="m-2">

    <div class="row pt-2">
      <h3 class="text-center p-2">Whats up today</h3>
      <hr>
    </div>

    <div class="todays-events row pt-2">
      <% if @todays_events.any? %>
        <% @todays_events.each do |event|  %>
            <div class="col-8 mb-2">
              <%= link_to team_event_path(@team, event) do %>
                <h5><%= event.title %></h5>
              <% end %>
              <h6><%= event.start_date.strftime("%H:%M")%></h6>
            </div>
            <div class="col-4 text-end mb-2">
              <h6><%= event.event_type %></h6>
            </div>
          <% end %>
      <% else %>
        <div class="text-center">
          <h5 class="fst-italic fw-light text-danger"> No events today </h5>
        </div>
      <% end %>
    </div>
  </div>
</div>
