<h2 class="text-center">UNDER DEVELOPMENT</h2>


<div class="bg-white rounded-4 justify-content-center ms-2 me-2">
  <h3 class="text-center pt-3">Chat</h3>
  <hr>
  <div class="text-center p-3">
  </div>
</div>
