<h2 class="text-center">UNDER DEVELOPMENT</h2>
<div class="bg-white rounded-4 justify-content-center ms-2 me-2">
  <h3 class="text-center pt-3">Management</h3>
  <hr>

  <div class="text-center p-3">
    Budget - £<%= @team.budget %>
  </div>
  <div class="text-center p-3">
  </div>
</div>

<div class="row m-3 justify-content-between">
  <div class="col-6 bg-white rounded-4 max-width-40">
    <div class="row pt-3">
      <h3 class="text-center p-2">Costs</h3>

      <hr>
      <img src="https://res.cloudinary.com/dydsbw4wh/image/upload/v1701275178/costs_yi1y4v.png" style="padding-bottom: 8px; border-radius: 30px;">
    </div>
  </div>

  <div class="col-6 bg-white rounded-4 max-width-40">
    <div class="row pt-3">
      <h3 class="text-center p-2">Team Status</h3>

      <hr>
      <img src="https://res.cloudinary.com/dydsbw4wh/image/upload/v1701276346/team_status_ii6bfb.png" style="padding-bottom: 8px; border-radius: 30px;">
    </div>
  </div>
</div>
