<div class="col-12 col-md-6 p-0">
  <%= link_to team_employee_path(@team, employee) do %>
    <div class="employee-card">
        <div class="p-2">
          <h5><%= employee.first_name %> <%= employee.last_name %></h5>
          <h6><%= employee.role %></h6>
      </div>
    </div>
  <% end %>
</div>
