// Define variables for your color scheme

// For example:
$navbar-border: #D7DDE3;
$navbar-color: #FFFFFF;
$primary-color: #2D7D9F;
$text-small-headers: #7B95A9;
$green: #1EDD88;
$gray: #0E0000;
$light-blue: #D8F2FE;
$icons: #92BFCA;
$background: #E6EAED;
$components-bg: #F1F1F4;
$search-field: #D9D9D9;
