.max-width-30 {
  max-width:31%;
}

.max-width-40 {
  max-width:49%;
}


.todays-events {
  height: 300px;
  overflow-y: auto;
}

.dashboard {
  h6{
    font-size: 12px;
  }

  h3 {
    font-size: 20px;
  }

  h5 {
    font-size: 15px;
  }
}

.injured-players {
  width: 100vw;
  overflow-x: auto;
}

.notifications {
  height: 300px;
  overflow-y: auto;

  p {
    font-size: 12px;
  }
}

.games {
  height: 300px;
  overflow-y: auto;
}

.team-crest img {
  width: 40px;
}

.home {
    border-radius: 20px;
    background-color: $light-blue;
    color: $primary;
    border: 1px solid $primary;
}

.away {
  border-radius: 20px;
  background-color: rgb(219, 216, 216);
  color: grey;
  border: 1px solid grey;
}

.chatroom-name {
  border-radius: 20px;
  background-color: $light-blue;
  color: $primary;
  // border: 1px solid $primary;
  width: 120px;
  height: 25px;
  text-align: center;
}
