<div id="message-<%= message.id %>" class="border-div">
  <small class="border-div w-100">
    <strong><%= message.user.full_name %></strong>
    <% if message.valid? %>
      <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
    <% end %>
  </small>
  <p><%= message.content %></p>
</div>
