<div class="m-4">
  <div class="chatrooms-index bg-white rounded-4 d-flex justify-content-around ms-2 me-2">
    <%= render 'chatrooms', class: "" %>
    <div class="chat-div ">
      <h3 class="text-center pt-3">Chat</h3>
      <hr>
      <div class="text-center p-3">

        </div>
    </div>
  </div>
</div>
