<div class="d-flex justify-content-between navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="mx-2">
  <% if controller_name == 'teams' && action_name == 'show' %>
    <h1 class="ms-5 fw-light">Dashboard</h1>
  <% end %>
    <% if controller_name == 'events' && action_name == 'index' %>
    <h1 class="ms-5 fw-light">Calendar</h1>
  <% end %>
  <% if controller_name == 'teams' && action_name == 'staff' %>
    <h1 class="ms-5 fw-light">Team Overview</h1>
  <% end %>
  <% if controller_name == 'players' && action_name == 'index' %>
    <h1 class="ms-5 fw-light">All Players</h1>
  <% end %>
    </div>
  <nav class="mx-2 d-flex align-items-center navbar navbar-expand-lg navbar-light p-3 " style="background-color: white">
      <div class="me-3 d-flex flex-column align-items-end">
        <h5><%= current_user.email %></h5>
        <h6>Team Manager</h6>
      </div>
      <a class="nav-link mx-2" href="#">
        <%= image_tag "liverpool_logo", class: "logo" %>
        <%#= image_tag "liverpool_logo2", class: "logo" %>
      </a>
  </nav>
</div>
