<div id="navbar" class="d-flex justify-content-between navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top border-bottom-success">
  <div class="mx-2">
  <% if controller_name == 'teams' && action_name == 'show' %>
    <h1 class="ms-5 fw-light text-primary">Dashboard</h1>
  <% end %>
  <% if controller_name == 'events' && action_name == 'index' %>
    <h1 class="ms-5 fw-light text-primary">Calendar</h1>
  <% end %>
  <% if controller_name == 'events' && action_name == 'show' %>
    <h1 class="ms-5 fw-light text-primary">Event</h1>
  <% end %>
  <% if controller_name == 'teams' && action_name == 'staff' %>
    <h1 class="ms-5 fw-light text-primary">Team Overview</h1>
  <% end %>
  <% if controller_name == 'players' && action_name == 'index' %>
    <h1 class="ms-5 fw-light text-primary">All Players</h1>
  <% end %>
   <% if controller_name == 'management' && action_name == 'index' %>
    <h1 class="ms-5 fw-light text-primary">Management</h1>
  <% end %>
   <% if controller_name == 'teams' && action_name == 'chat' %>
    <h1 class="ms-5 fw-light text-primary">Chat</h1>
  <% end %>
  <% if controller_name == 'chatrooms' && action_name == 'index' %>
    <h1 class="ms-5 fw-light text-primary">Message Inbox</h1>
  <% end %>
  <% if controller_name == 'chatrooms' && action_name == 'show' %>
    <h1 class="ms-5 fw-light text-primary">#<%= @chatroom.name %></h1>
  <% end %>
    </div>
  <nav class="mx-2 d-flex align-items-center navbar navbar-expand-lg navbar-light p-3 " style="background-color: white">
      <div class="me-3 d-flex flex-column align-items-end">
        <h5><%= current_user.first_name %> <%= current_user.last_name %></h5>
        <h6>Team Manager</h6>
      </div>
      <a class="nav-link mx-2" href="#">
        <%= image_tag "liverpool_logo.png", class: "logo", position: :sticky %>
      </a>
  </nav>

</div>
