
<div class="">
  <div class="banner rounded-1" style="background-image: url('https://res.cloudinary.com/dydsbw4wh/image/upload/v1701194543/ezgif.com-optimize_dnrqwd.gif');">

    <div class="banner-content ">
      <h1 class="shadow-text text-white pb-3"><strong>Precision. Performance. Excellence!</strong></h1>
      <h4 class="shadow-text text-white pb-3">Elevate team performance with TeamSync's innovative sports management</h4>
      <%= link_to  new_user_session_path do %>
        <button type="button" class="our-buttons btn btn-primary me-5">Get Started!</button>
      <% end %>
    </div>
</div>

  <div class="container">
    <h1 class="text-center mt-5 p-5 fw-light">How it works</h1>
    <div class="cards d-flex justify-content-around text-center">
      <div class="landing-card card border bg-white rounded-4">
        <i class="fa-solid fa-calendar-days p-4" style="color: #2d7d9f; font-size: 4em;"></i>
        <h4>Team Shared Calendar</h4>
        <p class="text-muted">Sync schedules effortlessly with a team-shared calendar.</p>
      </div>
      <div class="landing-card card border bg-white rounded-4">
        <i class="fa-solid fa-house p-4" style="color: #2d7d9f; font-size: 4em;"></i>
        <h4>Intuitive Dashboard</h4>
        <p class="text-muted">Simplified insights with an intuitive dashboard.</p>
      </div>
      <div class="landing-card card border bg-white rounded-4">
        <i class="fa-solid fa-bars-progress p-4" style="color: #2d7d9f; font-size: 4em;"></i>
        <h4>Powerful Management</h4>
        <p class="text-muted">Empower your team with powerful management tools.</p>
      </div>
    </div>
  </div>


  <div class="d-flex justify-content-center m-5 p-5">
    <h1>TeamSync LOGO</h1>
  </div>
</div>


<footer class="text-center navbar-light text-dark border" style="background-color: white">
  <section class="">

    <div class="row text-center d-flex justify-content-center pt-4">

      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">About us</a>
        </h6>
      </div>

      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Contact Us</a>
        </h6>
      </div>

      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">FAQ</a>
        </h6>
      </div>

    </div>
  </section>

  <hr class="my-3"/>


  <section class="mt-3">
    <a href="" class="me-4">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="" class="me-4">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="" class="me-4">
      <i class="fab fa-instagram"></i>
    </a>
  </section>


  <div
        class="text-center p-3"
        style="background-color: light"
        >
    © 2020 Copyright:
    <a class="" href=""
        >TEAMSync.com</a
      >
  </div>
</footer>
