<div class="container">
  <h2>All players</h2>
  <div class="d-flex m-3">
    <%= link_to "Back to team dashboard", team_path(@team) %>
        <%= link_to new_team_player_path(@team) do %>
        <i class="fa-solid fa-circle-plus fa-4x m-2" style="color: #ffffff;"></i>
        <% end %>
  </div>
  <div class="d-flex row">
    <% @players.each do |player| %>
      <%= render "player_card", player: player %>
    <% end %>
  </div>
</div>
