<h2>All players</h2>
<%= link_to "Back to team dashboard", team_path(@team) %>
<%= link_to "Add new player", new_team_player_path(@team) %>
<% @players.each do |player| %>
  <%= render "player_card", player: player %>
  <%= link_to "View player", team_player_path(@team, player) %>
<% end %>
