<h2>Player Info</h2>
<%= render "player_card", player: @player %>
<img src="https://backend.liverpoolfc.com/sites/default/files/styles/lg/public/2023-09/pp-23-24-mens-home-body-virgil-captain.webp?itok=vxisppd0" height="100%" alt="Virgil van Dijk" class="css-1oc6q26" style="opacity: 1; transform: none;">
<%= link_to "Back to players", team_players_path(@team) %>
<%= link_to "Edit player info", edit_team_player_path(@player) %>
