.staff-card  {
  background-color: white;

  h6 {
    color: #7B95A9;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
  }

  img {
    margin-right: 10px;
  }
}
