// To style the wrapping div
.message-row {
  // border: 1px solid black;
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: $primary-color;
  display: flex;
  justify-content: end;
  text-align: end;

  .message-color {
    color: black;
  }

  .date-stamp {
    color: $search-field;
    font-size: 10px;
  }
}

.receiver-style {
  background-color: #2d7d9f6d;
  display: flex;
  justify-content: start;
  text-align: start;

  .message-color {
    color: black;
  }

  .date-stamp {
    color: $search-field;
    font-size: 10px;
  }
}

.chat-container {
  // border: 1px solid black;
  height: 400px;
  max-height: 400px;
  overflow-y: auto;
  background-color: #E6EAED;
}

.message-container {
  width: 600px;
}

.chatrooms-div {
  width: 300px;
}

.rooms-name:hover {
    box-shadow: 3px 3px 15px $primary-color;
}

.rooms-name {
  a {
    color: white;
  }

  a:hover {
    color: white;
  }
  // background-color: $icons;
}

.chat-div {
  width: 900px;
}

.border-div {
  // border: 1px solid black;
}
