@import "config/colors";

.cool-nav {
  border: 1px solid black;
}

.navbar-lewagon {
  justify-content: space-between;
  background: $navbar-color;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  // border-bottom: 1px solid $navbar-border;
  margin-left: 100px;
  max-height: 100px;

    h6{
      font-size: 12px;
    }

    h3 {
      font-size: 20px;
    }

    h5 {
      font-size: 15px;
    }
}

.nav-link {
  font-family: $montserrat;
  font-size: medium;
}

li {
  list-style-type: none;
}

.profile-pic {
  font-size: 46px;
}

.logo {
  width: 50px;
}
