@import "config/colors";

.wrapper {
  // display: flex;
  width: 100%;
}

.logo-pic {
  font-size: 70px;
}

// .cool-side {
//   border: 1px solid black;
// }

.very-cool-side {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  background-color: #D8F2FE;
}

.selected-icon {
  color: $primary-color;
}

.sidebar-button {
  font-size: 35px;
}

.sidebar-button {
  font-size: 35px;
}

#sidebar {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100px;
  background: $navbar-color;
  position: fixed;
  z-index: 999;
  border-right: 1px solid $navbar-border;
}
