h6 {
  color: #7B95A9;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: px;
  font-weight: bold;
}

h3 {
  color: #7B95A9;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 25px;
  font-weight: bold;
}
body {
  background-color: $projector;
  // icon projector color: #8c9093
  font-family: Montserrat;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: Montserrat;
}

.shadow-text {
  text-shadow: 1px 1px 2px grey;
}

.landing-card {
  width: 430px;
  margin: 20px;
  padding: 10px;
}
h1 {
  letter-spacing: 2px;
  font-weight: light;
}

.navigation-links a {
  color: $primary;
}

.navigation-links a:hover {
  color: #004765;
}
